@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

html {
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  padding: 2em;
}

.btn {
  text-decoration: none;
  border: none;
  padding: 1em;
  background-color: purple;
  color: white;
}

.input {
  height: 2.7em;
  width: 20em;
}

li {
  list-style: none;
  padding-top: 1em;
  color: purple;

}

